
.wrapper{
  background-color: rgb(17, 17, 17);
}
.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    background-color: rgb(240, 240, 240);
    width:90%;
    max-width: 700px;
    margin:0 auto;
    min-height:100vh;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .main_img{
    max-width: 200px;
    width:90%;
    border-radius: 50%;
    margin:0 auto;
    overflow: hidden;
    background-color: rgb(255, 177, 69);


  }
  .main_img > img{
    width:100%;
    
  }
  .main_title{
    font-weight: bold;
  }
  .main_title_des{
    font-size: 0.9rem;
    line-height: 10px;
  }
  .blog_style{
    padding:0 20px;
  }
  .main_wrap{
    text-align: center;
    padding-top:30px;
  }
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .listItem {
    margin: 0 0 1.25rem;
    background: white;
    padding:10px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.169);
  }
  
  .lightText {
    color: #666;
  }
  .blog_title{
    color:rgb(10, 62, 145);
    font-size: 1rem;
  }
  .blog_inner_background{
    background:white;
    width:90vw;
    margin:0 auto;
    margin-top:5vh;
    padding:20px;
    box-sizing: border-box;
    box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.242);
    border-radius: 8px;
  }
  .blog_contents{
    background:rgb(244, 244, 244);
    color:rgb(19, 19, 19);
    line-height:30px;
    padding:10px 20px;
    margin-top:30px;
    box-sizing: border-box;
  }